<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Manuelita SAS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><img src="{{ url_for('static', filename='../static/img/logo.png') }}"> Manuelita</h1>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('clientes.ver_clientes') }}">Clientes</a></li>
                <li><a href="{{ url_for('proveedores.ver_proveedores') }}">Proveedores</a></li>
                <li><a href="{{ url_for('productos.ver_productos') }}">Productos</a></li>
                <li><a href="{{ url_for('ordenes_vistas.ver_ordenes') }}">Órdenes</a></li>
                <li><a href="{{ url_for('pedidos_views.ver_pedidos') }}">Pedidos</a></li>
                <li><a href="{{ url_for('facturas_views.ver_facturas') }}">Facturas</a></li>
                <li><a href="{{ url_for('camiones.ver_camiones') }}">Camiones</a></li>
                <li><a href="{{ url_for('conductores.ver_conductores') }}">Conductores</a></li>
                <li><a href="{{ url_for('envios.ver_envios') }}">Envios</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Manuelita SAS. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crud.js') }}"></script>
</body>
</html>
